.elevatorChart {
    background-color: white;  
    margin-top: 20px;   
    .chartDetails{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }   
    
  }
  .heading{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
  }   